<!DOCTYPE html>
<html>
<head>
	<%- include('../partials/head'); %>
</head>
<body>
	<h1>Account - Creator</h1>
	<div>
		<div class="form-group">
			<label>Name</label>
			<input type="text" class="form-control" id="name" />
		</div>
		<div class="form-group" id="passwordForm">
			<label>password</label>
			<input type="password" class="form-control" id="password">
			<small class="form-text text-muted">Set the password</small>
			<label class="mt-3">Verify</label>
			<input type="password" class="form-control" id="verify">
			<small class="form-text text-muted">Retype the password to verify</small>
		</div>
		<button class="btn btn-primary" onclick="submit()">Submit</button>
		<button class="btn btn-danger" onclick="cancel()">Cancel</button>
	</div>
</body>
<script src='/javascripts/accountCreator.js'></script>
</html>
