<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Account - List</h1>
    <table border="1" >
        <tr>
            <th>id</th>
            <th>name</th>
        </tr>
    </table>
  </body>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src='./javascripts/accountManagement.js'></script>
</html>
