<!DOCTYPE html>
<html>
  <head>
    <title>Jimmy's chat room</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/locale/zh-tw.js'></script>
  </head>
  <body>
    <div class="chats">
      <span>聊天室：</span>
    </div>
    <div>
      <input id="message" type="text" placeholder="input the message" />
      <button id="submit" type="button">送出</button>
    </div>
  </body>
  <script src='./javascripts/index.js'></script>
</html>
