<!DOCTYPE html>
<html>
<head>
	<%- include('partials/head'); %>
	<script src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js'></script>
</head>
<body>
	<%- include('partials/header'); %>
	<div class="container pt-3">
		<h1>Chat room:</h1>
		<div class="chats border bg-light">
			<span class="ml-3">start!</span>
		</div>
		<div class="input-group my-3">
			<input id="message" type="text" class="form-control" placeholder="Type your text:" />
			<div class="input-group-append">
				<button id="submit" class="btn btn-outline-primary" type="button">Send</button>
			</div>
		</div>
	</div>
</body>
<script src='./javascripts/header.js'></script>
<script src='./javascripts/index.js'></script>
</html>
