<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
    </head>

    <body>
        <form name="addform" action="api/account-manager/account" method="post" accept-charset="utf-8" >
            <h1>Register</h1>
            <div>
                <label>email：</label>
                <input type="text" name="email" placeholder="email">
            </div>
            <div>
                <label>password：</label>
                <input type="password" name="password" placeholder="password">
            </div>
            <div>
                <input type='submit' value='Submit'>
                <input type='reset' value='Reset'>
                <input type='button' value='Back' onclick="javascript: location.href='/'">
            </div>
        </form>
    </body>
</html>